p, li {
  font-weight: 300;
}

section {
  background-color: var(--azul-claro);
}

h1 {
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: 1rem;
}

p {
  margin: 0.75rem auto;
}

span {
  font-weight: 700;
}

.project-img, .project-details {
  width: 50%;
}

.card {
  align-items: stretch;
  box-shadow: 10px 10px 15px var(--azul-fondo);
  overflow: hidden;
  width: 90%;
  border-radius: 2px;
  margin: 4rem auto;
}

.project-img {
  background-size: cover;
  min-height: 300px;
}

.project-details {
  background-color: var(--azul-nav);
  box-sizing: border-box;
  padding: 2rem 1.5rem;
}

.links .btn {
  padding: 0.8rem 2rem;
  border: 2px solid var(--blanco-texto);
  border-radius: 0.5rem;
  margin-top: 0.8rem;
}

.links .btn:hover {
  color: var(--azul-nav);
  background-color: var(--blanco-texto);
}

#granito-de-arena .project-img {
  background-image: url(../img/granito-de-arena.jpg);
}

#scouting-app .project-img {
  background-image: url(../img/scouting-app.jpg);
  background-position: center top;
}

#ge-healthcare .project-img {
  background-image: url(../img/ge-healthcare.jpg);
  background-position: center top;
}

#club-programacion .project-img {
  background-image: url(../img/club-programacion.jpg);
  background-position: 15% top;
}

#programacion-first .project-img {
  background-image: url(../img/ftc-programming.jpg);
}

#la-conquista .project-img {
  background-image: url(../img/la-conquista.jpg);
  background-position: center;
}

@media screen and (max-width: 970px) {
  .project-img, .project-details {
    width: 100%;
  }

  .card {
    width: 90%;
  }

  .project-img {
    height: 25vh;
  }
}