@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/JetBrainsMono-Light.ttf)
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/JetBrainsMono-Regular.ttf)
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/JetBrainsMono-SemiBold.ttf)
}

:root {
  --azul-fondo: #010920;
  --azul-nav: #012154;
  --azul-obscuro: #01488a;
  --azul-claro: #017dbd;
}

* {
  font-family: 'JetBrains Mono', Helvetica, Arial, sans-serif;
  color: var(--blanco-texto);
}

li {
  list-style: '- ' outside;
  margin-bottom: 0.4rem;
  margin-left: 1.2rem;
}

nav {
  background-color: var(--azul-nav);
  position: fixed;
  width: 100vw;
}

ul {
  display: block;
  max-width: 35rem;
  margin: 0 auto;
}

nav a {
  padding: 0.5rem 2rem;
}

nav a:hover {
  background-color: var(--azul-fondo);
}

footer {
  background-color: var(--azul-fondo);
}


#pagina-actual {
  text-decoration: underline;
}